* {
    margin:0;
    padding:0;
}

body {
    background-color: #0b1020;
}

.cabesalho {
    display: flex; /*define qual modelo de organizar*/
    gap: 30px;
    border-radius: 8px;
    border: 8px solid #294e5a;
    background-color: #141e36;
    margin: 20px;
}

.minhaImagem img {
    width: 180px; /* Define a largura e altura da imagem */
    height: 180px; /* Define a largura e altura da imagem */
    border-radius: 50%; /* Define a borda arredondada da imagem */
    object-fit: contain; /* Faz com que a imagem caber inteira ao espaço disponível */
    border: 3px solid #6ee7b7;
}

.minhasInformacoes p {
    color: #bac6da; /* Define a cor do texto */
    font-family: "Metal Mania", cursive; /* Define a fonte do texto */
    font-size: 19px; /* Define o tamanho da fonte */
}

.minhasInformacoes h1 {
    color: #7dd3fc; /* Define a cor do texto */
    font-family: "Metal Mania", cursive; /* Define a fonte do texto */
    font-size: 24px; /* Define o tamanho da fonte */
}

.minhasInformacoes span {
    color: #86efac; /* Define a cor do texto */
}

.minhasInformacoes h2 {
    color: #f28b82;
    font-family: "Metal Mania", cursive;
}

.botoesContato img {
    width: 25px; /* Define a largura e altura da imagem */
    height: 25px; /* Define a largura e altura da imagem */
}

.botoesContato a {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    padding: 8px 8px;
    border-radius: 8px;
    background-color: #86efac;
}

.sobreMin {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    font-family: "Metal Mania", cursive;
}

.sobreMin > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141e36;
    border-radius: 8px;
    border: 3px solid #294e5a;
    margin: 20px;
}

.sobreMin h2 {
    color: #edf2ff;
    text-align: center;
}

.textoSobreMin  {
    color: #c0cfda;
    font-size: 25px;
}

.icone {
    color: #86efac;
    font-size: 20px;
    list-style: none;
}

.icone li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icone img {
    height: 35px;
    width: 35px;
    object-fit: contain;
}








footer {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-top: 40px;
    background-color: #294e5a;
}
